<div class="card" ng-if="$ctrl.dataReady()">
    <div class="card-header">Visualized index : <strong>{{$ctrl.index}}</strong></div>
    <div class="card-block">
        <canvas class="chart chart-line"
            chart-data="$ctrl.data"
            chart-labels="$ctrl.labels"
            chart-series="$ctrl.series"
            chart-options="$ctrl.options"
            chart-dataset-override="$ctrl.datasets">
        </canvas>
    </div>
</div>

<div class="alert alert-info" ng-if="$ctrl.index && !$ctrl.dataReady()">
    <strong>Please wait</strong> Loading data...
</div>